<footer class="mt-12 inline-flex flex-col sm:flex-row gap-1 justify-center w-full text-center text-sm text-slate border-t border-slate-200 pt-8">
    <span>&copy; <%= new Date().getFullYear() %> GoBowling Shipley Lanes</span>
    <span class="hidden sm:block">&bull;</span>
    <span>Built with <span class="text-firebrick">&hearts;</span> for bowling</span>
</footer>
