<footer class="mt-12 inline-flex gap-1 justify-center w-full text-center text-sm text-slate border-t border-slate-200 pt-8">
    <p>&copy; <%= new Date().getFullYear() %> GoBowling Shipley Lanes &bull; Built with <p class="text-firebrick">&hearts;</p> for bowling</p>
</footer>
